body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .parallax-container {
    height: 538px;
  }
  .heading{
    text-align: center;
    font-size: 42px;
    color: #2f2f2fc7;
  }